/* Navbar - Top Horizontal */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: auto;
    background-color: #496e92;
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    z-index: 100;
}

/* Profile Image Box */
.profile-box {
    display: flex;
    align-items: center;
    margin: 0;
    padding-right: 100px;
}

/* Profile Image */
.profile-image {
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Navigation Links */
.desktopMenu {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.desktopMenuListItem {
    color: white;
    cursor: pointer;
    transition: color 0.3s ease, background 0.3s ease;
    font-weight: bold;
}

.desktopMenuListItem:hover {
    color: #000;
    background-color: transparent;
}

.active {
    color: black;
    font-weight: bold;
    background-color: transparent;
    border-bottom: 2px solid black;
}

/* Social Media Icons */
.social-icons {
    display: flex;
    gap: 15px;
    margin: 0;
}

.social-icon {
    font-size: 30px;
    color: white;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

.linkedin:hover {
    color: #0077b5;
}

.github:hover {
    color: #333;
}

/* Adjust page content */
.content {
    margin-top: 100px; /* Space for top navbar */
    padding: 20px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .desktopMenu {
        flex-direction: column;
        gap: 10px;
    }
}
